@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --space-indigo: #1b264f;
  --french-blue: #274690;
  --smart-blue: #576ca8;
  --white-smoke: #f5f3f5;

  --accent: #274690;
  --bg: #f5f3f5;
  --surface-1: #ffffff;
  --surface-2: #f2f4ff;
  
  --text-primary: #1b264f;
  --text-secondary: #576ca8;
  
  --border: #d9dce8;
}

.dark {
  --accent: #7094d2;
  --bg: #11131a;
  --surface-1: #1c1f2a;
  --surface-2: #2a2e3c;
  --text-primary: #f5f6ff;
  --text-secondary: #c1c7db;
  --border: #3c4050;
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  transition: background-color 200ms ease, color 200ms ease;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all 200ms ease;
}

input, textarea, select {
  transition: all 200ms ease;
}